@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
  }

  // Margin & Padding

$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  //All around Margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  //All around Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

//// Width
$width-admin:363px;
$res-width-admin:300px;
$width-input:100%;


// Screen breakpoints variables 
$bp-largest: 85.375em; //1366px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 48em; //768px
$bp-smallest: 31.25em; //500px
$bp-verysmall: 24.43em; //375px

@mixin responsive($breakpoint){
  // 375px
  @if $breakpoint == bp-verysmallest {
      @media only screen and (max-width:24.43em) {@content};
  }
  // 500px
  @if $breakpoint == bp-smallest {
      @media only screen and (max-width:31.25em) {@content};
  }
  // 768px
  @if $breakpoint == bp-small {
      @media only screen and (max-width:48em) {@content};
  }
  // 900px
  @if $breakpoint == bp-medium {
      @media only screen and (max-width:56.25em) {@content};
  }
  // 1100px
  @if $breakpoint == bp-large {
      @media only screen and (max-width:68.75em) {@content};
  }
  // 1366px
  @if $breakpoint == bp-largest {
      @media only screen and (min-width:85.375em) {@content};
  }
}